<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="styles.css" />
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-pzjw8f+ua6rlWWOj3qFhPSc1n6K/KJQ8e5+Xn3xuJwJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous"
  />
  <head>
    <title>Results</title>
  </head>
  <body>
    <div class="container">
      <form action="{{ url_for('logout') }}">
        <button class="btn-primary">Log Out</button>
      </form>
      <h1>Results</h1>

      <div class="query">
        <h2>Query 1</h2>
        <table>
          <tr>
            <th>Account ID</th>
            <th>Branch</th>
            <th>Balance</th>
            <th>Opening Date</th>
          </tr>
          {% for row in result1 %}
          <tr>
            <td>{{ row['aid'] }}</td>
            <td>{{ row['branch'] }}</td>
            <td>{{ row['balance'] }}</td>
            <td>{{ row['openDate'] }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>

      <div class="query">
        <h2>Query 2</h2>
        <table>
          <tr>
            <th>Account ID</th>
            <th>Balance</th>
            <th>Opening Date</th>
          </tr>
          {% for row in result2 %}
          <tr>
            <td>{{ row['aid'] }}</td>
            <td>{{ row['balance'] }}</td>
            <td>{{ row['openDate'] }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>

      <div class="query">
        <h2>Query 3</h2>
        <table>
          <tr>
            <th>Account ID</th>
            <th>Balance</th>
          </tr>
          {% for row in result3 %}
          <tr>
            <td>{{ row['aid'] }}</td>
            <td>{{ row['balance'] }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>

      <div class="query">
        <h2>Query 4</h2>
        <table>
          <tr>
            <th>Max Balance</th>
            <th>Min Balance</th>
          </tr>
          {% for row in result4 %}
          <tr>
            <td>{{ row['maxBalance'] }}</td>
            <td>{{ row['minBalance'] }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </body>
</html>
