<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <title>Error Message Example</title>
  </head>
  <body
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 35vh;
    "
  >
    <div
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      "
      class="{% if isPositive %}success alert alert-success{% else %}error alert alert-danger{% endif %}"
    >
      {{ message }}
    </div>

    <form style="margin: 2ch" action="{{ url_for('moneyTransfer') }}">
      <button class="btn btn-primary">OK</button>
    </form>
  </body>
</html>
