<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="styles.css" />
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-pzjw8f+ua6rlWWOj3qFhPSc1n6K/KJQ8e5+Xn3xuJwJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous"
  />
  <head>
    <title>Money Transfer Page</title>
  </head>
  <body>
    <h1>Your Accounts</h1>
    <form action="{{ url_for('logout') }}">
      <button>Log Out</button>
    </form>
    <table>
      <thead>
        <tr>
          <th>Account ID</th>
          <th>Branch</th>
          <th>Balance</th>
          <th>Open Date</th>
          <th>City</th>
        </tr>
      </thead>
      <tbody>
        {% for account in userAccounts %}
        <tr>
          <td>{{ account['aid'] }}</td>
          <td>{{ account['branch'] }}</td>
          <td>{{ account['balance'] }}</td>
          <td>{{ account['openDate'] }}</td>
          <td>{{ account['city'] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <h1>All Accounts</h1>
    <table>
      <thead>
        <tr>
          <th>Account ID</th>
          <th>Branch</th>
          <th>Balance</th>
          <th>Open Date</th>
          <th>City</th>
        </tr>
      </thead>
      <tbody>
        {% for account in allAccounts %}
        <tr>
          <td>{{ account['aid'] }}</td>
          <td>{{ account['branch'] }}</td>
          <td>{{ account['balance'] }}</td>
          <td>{{ account['openDate'] }}</td>
          <td>{{ account['city'] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="container">
      <form action="{{ url_for('moneyTransferProcess') }}" method="post">
        <label for="fromAccountId">From Account ID:</label>
        <input type="text" id="fromAccountId" name="fromAccountId" required />
        <label for="toAccountId">To Account ID:</label>
        <input type="text" id="toAccountId" name="toAccountId" required />
        <label for="amount">Amount:</label>
        <input type="number" id="amount" name="amount" required />
        <button type="submit">Transfer</button>
      </form>
    </div>
  </body>
</html>
